::ng-deep .classic .mat-mdc-dialog-container{
	width:553px;
	padding:0;
	position: relative;
	overflow: hidden;
	margin:10px;
	border-radius: 10px;
	border-top:10px solid #ececec;
}

.modal-container{
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	padding:24px;
	min-height:300px;
}

.modal-container .close{
	position: absolute;
	top:5px;
	right:5px;
	cursor: pointer;
}

.modal-container .title{
	flex:1;
}

.modal-container .content{
	flex:2;
	display: flex;
	align-items: center;
}

.modal-container .content input{
	background-color: transparent;
	border: 1px solid #ececec;
	border-radius: 5px;
	width:100%;
	padding: 10px;
}

/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
:host ::ng-deep .modal-container .content .mat-checkbox-checked.mat-accent .mat-checkbox-background{
    background:#1c7693;
}

.modal-container .actions{
	flex:1;
	display: flex;
	align-items: flex-end;
	justify-content:flex-end;
}

.modal-container .actions > div{
	display: inline-block;
	margin-left: 10px;
	cursor: pointer;
}