.modification-container{
	--color:red;
	--text-color:red;
	position: relative;
	overflow: hidden;
}

:host ::ng-deep .modification-container .mat-expansion-panel:not([class*="mat-elevation-z"]){
	box-shadow:10px 10px 10px 0px rgba(200,200,200,0.1);
	border-bottom: 2px solid var(--fade-color);
	border-radius: 10px;
	margin-top: 20px;
}

:host ::ng-deep .modification-container .mat-expansion-panel-header{
	padding:20px;
	height: auto;
	font-size: inherit;
}

:host ::ng-deep .modification-container .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled="true"]){
	background-color: white;
}

:host ::ng-deep .modification-container .mat-expansion-panel-content{
	font-size:inherit;
}

:host ::ng-deep .modification-container .mat-expansion-panel-body{
	padding:20px;
	padding-top: 0;
}

.modification-container .loading{
	position: absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items:center;
	background-color: var(--color);
	border-radius:10px;
	transform: translateY(101%);
	transition: transform 0.2s;
	color:var(--text-color);
}

.modification-container .loading.show{
	transform: translateY(0);
}

:host ::ng-deep .modification-container .loading .mat-mdc-progress-spinner circle{
	stroke:var(--text-color);
}

.modification-container .button.remove{
	background-color: #df0000;
	color: white;
	margin-right: 20px;
	width: max-content;
}

.modification-container .button.add, .modification-container .button.save{
	background-color: var(--color);
	color:var(--text-color);
	margin-top: 20px;
}

.modification-container .button.save{
	padding:20px;
	float:right;
}

.modification-container mat-accordion .divider{
	height: 1px;
	background-color: #ececec;
}

.modification-container mat-accordion .question .fields-wrapper{
	display: flex;
	align-items:center;
	gap:20px;
	margin-top:20px;
}

.modification-container mat-accordion .question .fields-wrapper:not(:first-child){
	margin-top: 20px;
}

.modification-container mat-accordion .question .fields-wrapper .field{
	flex:1;
}

.modification-container mat-accordion .field .value input, .modification-container mat-accordion .question .fields-wrapper .field .value .mat-mdc-select, .modification-container mat-accordion .question .chips-wrapper input{
	background-color: transparent;
	border: 1px solid #ececec;
	border-radius: 5px;
	width:calc(100% - 20px);
	padding: 10px;
}

.modification-container mat-accordion .field .label{
	margin-bottom: 5px;
}

.modification-container mat-accordion .question .fields-wrapper .field .value .mat-mdc-select{
	padding:0;
}

/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
:host ::ng-deep .modification-container mat-accordion .question .fields-wrapper .field .value .mat-mdc-select .mat-select-trigger{
	padding:10px;
	height:auto;
}

.modification-container mat-accordion .question .chips-wrapper{
	margin-top: 10px;
}